/* App.css */
/* styles.css */




#wrapper {
  display: flex;
  align-items: stretch;
  height: 100vh; /* Ensure the sidebar takes full height */
}

#sidebar-wrapper {
  width: 150px;
  color: black;
  flex-shrink: 0;
}

#page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding: 20px;
}

.navbar-nav {
  width: 100%;
}

.form-inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
}




.search-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-right: 50px;
}

.search-container .list-group {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  width: 100%;
  
}

.search-container input {
  width: 100%; /* Ensure the input takes full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

@media (max-width: 768px) {
  .form-inline {
    justify-content: center; /* Center the search bar on smaller screens */
  }

  #sidebar-wrapper {
    width: 100px; /* Adjust sidebar width on smaller screens */
  }
}

.ukraine {
  margin-top: 100px;
}

